$prime-color: #00B9AE;
$grey: #21242D;

.Main {
    min-height: 70vh;
    // max-width: 70%;
    margin-inline: auto;
}
.main_wrapper {
    display: flex;
}
.movies {
    display: flex;
    justify-content: space-between;
    margin-left: 14em;
    margin-right: 1.5em;
    gap: 1em;
    flex-wrap: wrap;
}
.movie_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}